@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <div>
        <a asp-action="LoadFromSystem">Load directories</a>
        <br />
        <a asp-action="Saved">Saved directories</a>
        </div>
   </body>
</html>