@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Load From OpSystem</title>
</head>
<body>
    <div>
        <a asp-action="Load">Load</a><br />
    </div>
</body>
</html>